@font-face {
    font-family: 'Denim';
    src: url('../fonts/Denim/TTF/Denim-Regular.ttf');
    src: url('../fonts/Denim/WEB/Denim-Regular.woff2') format('woff2'),
        url('../fonts/Denim/WEB/Denim-Regular.woff') format('woff'),
        url('../fonts/Denim/TTF/Denim-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denim';
    src: url('../fonts/Denim/TTF/Denim-Medium.ttf');
    src: url('../fonts/Denim/WEB/Denim-Medium.woff2') format('woff2'),
        url('../fonts/Denim/WEB/Denim-Medium.woff') format('woff'),
        url('../fonts/Denim/TTF/Denim-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denim';
    src: url('../fonts/Denim/TTF/Denim-SemiBold.ttf');
    src: url('../fonts/Denim/WEB/Denim-SemiBold.woff2') format('woff2'),
        url('../fonts/Denim/WEB/Denim-SemiBold.woff') format('woff'),
        url('../fonts/Denim/TTF/Denim-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
