@font-face {
    font-family: 'DenimUprights';
    src: url('../fonts/Denim/GX/DenimUprightsVF.woff2') format('woff2');
    src: url('../fonts/Denim/GX/DenimUprightsVF.woff') format('woff');
}

@font-face {
    font-family: 'Denim';
    src: url('../fonts/Denim/WEB/Denim-Regular.woff');
    src: url('../fonts/Denim/WEB/Denim-Regular.woff2') format('woff2'),
        url('../fonts/Denim/WEB/Denim-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denim';
    src: url('../fonts/Denim/WEB/Denim-Medium.woff');
    src: url('../fonts/Denim/WEB/Denim-Medium.woff2') format('woff2'),
        url('../fonts/Denim/WEB/Denim-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denim';
    src: url('../fonts/Denim/WEB/Denim-SemiBold.woff');
    src: url('../fonts/Denim/WEB/Denim-SemiBold.woff2') format('woff2'),
        url('../fonts/Denim/WEB/Denim-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
